/******************************* 
GENERAL 
********************************/

a {
	/* tolgo sottolineatura */
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
}

/******************************* 
HEADER
********************************/

#logo {
	text-align: center;
}

.main-header {
	background-color: #37A96D;
	/* tolgo il margine superiore */
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	overflow: auto;
}

h1 {
	color: #ffffff;
	font-family: 'Candal', sans-serif;
	margin: 15px 0;
	font-size: 2.1em;
}

h2 {
	color: #ffffff;
	font-family: 'Candal', sans-serif;
	margin: 15px 0 20px 0;
	font-size: 1.4em;	
}

/******************************* 
NAV
********************************/

nav{
	background-color: #297F52;
	text-align: center;
	padding: 5px 0 5px 0;
}

nav a {
	color: #ffffff;
	font-weight: bold;
	padding: 0 2px;
}

nav ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}

nav li {
	display: inline-block;	
}

nav a:hover {
	color: #27583F;
}

nav a.selected {
	color: #27583F;	
}

/******************************* 
SECTION
********************************/

.wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5% 5px 5%;
}

#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}

#gallery li a p {
	font-size: 0.85em;
	color: #000;
	padding: 5%;
	margin: 0;
}

/******************************* 
FOOTER
********************************/

.main-footer {
	text-align: center;
	clear: both;
	padding: 50px;
	background-color: #37A96D;
}

.main-footer p {
	font-size: 0.85em;
}

.icona-social {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

/******************************* 
ABOUT
********************************/

.foto-profilo {
	display: block;
	max-width: 200px;
	margin: 0 auto 40px auto;
	border-radius: 100%;
}

/******************************* 
CONTACT
********************************/

#contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
}

#contact-info a {
	color: #000;
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px 0;
}

#contact-info li.phone a {
	background-image: url(../img/phone.png)
}

#contact-info li.mail a {
	background-image: url(../img/mail.png)
}